In [1]:
#WEB SCRAPING ASSIGNMENT-1

#QUESTION 1
#Write a python program to display all the header tags from wikipedia.org.

!pip install bs4
!pip install requests

from bs4 import BeautifulSoup
import requests

page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
page

soup = BeautifulSoup(page.content)
soup

head = []
for i in soup.find_all('span',class_="mw-headline"):
    head.append(i.text)

head

import pandas as pd
df = pd.DataFrame({'HEADER TAGS':head})
df

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.7)

                     HEADER TAGS
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

In [2]:
#QUESTION 2
#Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

!pip install bs4
!pip install requests

from bs4 import BeautifulSoup
import requests

page = requests.get('https://www.imdb.com/list/ls091520106/')
page

soup = BeautifulSoup(page.content)
soup

movie = []
for i in soup.find_all('h3',class_="lister-item-header",):
    movie.append(i.text.replace('\n',''))

movie

year = []
for i in soup.find_all('span',class_="lister-item-year text-muted unbold",):
    year.append(i.text)
year 

rating = []
for i in soup.find_all('div',class_="ipl-rating-star small"):
    rating.append(i.text.replace('\n',''))
rating

print(len(movie),len(rating),len(year))

import pandas as pd
df = pd.DataFrame({'movie':movie,'rating':rating,'Year':year})
df

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
100 100 100

                                           movie rating    Year
0               1.The Shawshank Redemption(1994)    9.3  (1994)
1                          2.The Godfather(1972)    9.2  (1972)
2                 3.The Godfather: Part II(1974)      9  (1974)
3                        4.The Dark Knight(2008)      9  (2008)
4                           5.12 Angry Men(1957)      9  (1957)
..                                           ...    ...     ...
95                   96.North by Northwest(1959)    8.3  (1959)
96                   97.A Clockwork Orange(1971)    8.3  (1971)
97                               98.Snatch(2000)    8.2  (2000)
98  99.Le fabuleux destin d'Amélie Poulain(2001)    8.3  (2001)
99                             100.The Kid(1921)    8.3  (1921)

[100 rows x 3 columns]

In [3]:
#QUESTION 3
#Write a python program to display IMDB’s Top rated 100 Indian movies’
#data (i.e. name, rating, year of release) and make data frame.

!pip install bs4
!pip install requests

from bs4 import BeautifulSoup
import requests

page = requests.get('https://www.imdb.com/list/ls009997493/')
page

soup = BeautifulSoup(page.content)
soup


movie = []
for i in soup.find_all('h3',class_="lister-item-header",):
    movie.append(i.text.replace('\n',''))

movie

year = []
for i in soup.find_all('span',class_="lister-item-year text-muted unbold",):
    year.append(i.text)
year

rating = []
for i in soup.find_all('div',class_="ipl-rating-star small"):
    rating.append(i.text.replace('\n',''))
rating

print(len(movie),len(rating),len(year))

import pandas as pd
df = pd.DataFrame({'movie':movie,'rating':rating,'Year':year})
df

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2021.10.8)
100 100 100

                             movie rating    Year
0          1.Rang De Basanti(2006)    8.1  (2006)
1                 2.3 Idiots(2009)    8.4  (2009)
2         3.Taare Zameen Par(2007)    8.4  (2007)
3           4.Dil Chahta Hai(2001)    8.1  (2001)
4   5.Swades: We, the People(2004)    8.2  (2004)
..                             ...    ...     ...
95            96.Wake Up Sid(2009)    7.6  (2009)
96               97.Rangeela(1995)    7.5  (1995)
97    98.Shatranj Ke Khilari(1977)    7.7  (1977)
98     99.Pyaar Ka Punchnama(2011)    7.6  (2011)
99         100.Ek Hasina Thi(2004)    7.5  (2004)

[100 rows x 3 columns]

In [4]:
#QUESTION 4
#Write a python program to scrape product name, price and discounts from https://meesho.com/bags-ladies/pl/p7vbp .

!pip install bs4
!pip install requests

from bs4 import BeautifulSoup
import requests

page = requests.get('https://meesho.com/bags-ladies/pl/p7vbp')
page

soup = BeautifulSoup(page.content)
soup

name = []
for i in soup.find_all('p',class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS"):
    name.append(i.text)
    
name

price = []
for i in soup.find_all('h5',class_="Text__StyledText-sc-oo0kvp-0 hiHdyy"):
    price.append(i.text.replace('₹',''))
price

dis = []
for i in soup.find_all('span',class_="Text__StyledText-sc-oo0kvp-0 lnonyH"):
    dis.append(i.text.replace('off',''))
dis

print(len(name),len(dis),len(price))

import pandas as pd
df = pd.DataFrame({'Product name':name,'price':price,'Discount':dis})
df

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.7)
20 20 20

                          Product name price Discount
0   Elegant Fashionable Women Handbags   183     35%
1   Gorgeous Attractive Women Handbags   285     38%
2         Classic Fancy Women Handbags   198     34%
3     Classic Versatile Women Handbags   356     27%
4    Gorgeous Versatile Women Handbags   229     32%
5          Trendy Fancy Women Handbags   440     23%
6        Voguish Classy Women Handbags   166     41%
7     Elegant Versatile Women Handbags   229     33%
8     Ravishing Stylish Women Handbags   217     34%
9    Ravishing Alluring Women Handbags   261     33%
10    Classic Versatile Women Handbags   205     34%
11              Elegant Women Handbags   165     33%
12    Elite Fashionable Women Handbags   233     30%
13        Voguish Fancy Women Handbags   130     33%
14      Classic Stylish Women Handbags   260     31%
15      Elite Versatile Women Handbags   208     40%
16   Elegant Attractive Women Handbags   196     37%
17    Classic Versatile Women Handbags   191     37%
18          Elite Fancy Women Handbags   224     33%
19   Trendy Fashionable Women Handbags   196     37%

In [ ]:
#QUESTION 5 B
#b) Top 10 ODI Batsmen along with the records of their team and rating

!pip install bs4
!pip install requests

from bs4 import BeautifulSoup
import requests

page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
page

soup = BeautifulSoup(page.content)
soup

pl = []
for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    pl.append(i.text.replace('\n',''))
    
pl

team = []
for i in soup.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)
team

rating = []
for i in soup.find_all('td',class_="table-body__cell rating"):
    rating.append(i.text)
rating

print(len(team),len(rating),len(pl))

import pandas as pd
df = pd.DataFrame({'Player':pl,'team':team,'rating':rating})
df

In [ ]:
#Q.5 C

#c) Top 10 ODI bowlers along with the records of their team and rating.
!pip install bs4
!pip install requests

from bs4 import BeautifulSoup
import requests

page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
page

soup = BeautifulSoup(page.content)
soup

pl = []
for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    pl.append(i.text.replace('\n',''))
    
pl

team = []
for i in soup.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)
team

rating = []
for i in soup.find_all('td',class_="table-body__cell rating"):
    rating.append(i.text)
rating

print(len(team),len(rating),len(pl))

import pandas as pd
df = pd.DataFrame({'Player':pl,'team':team,'rating':rating})
df

In [ ]:
#QUESTION 6
#b) Top 10 women’s ODI Batting players along with the records of their team and rating
!pip install bs4
!pip install requests

from bs4 import BeautifulSoup
import requests

page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
page

soup = BeautifulSoup(page.content)
soup

pl = []
for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    pl.append(i.text.replace('\n',''))
    
pl

team = []
for i in soup.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)
team

rating = []
for i in soup.find_all('td',class_="table-body__cell rating"):
    rating.append(i.text)
rating

print(len(team),len(rating),len(pl))

import pandas as pd
df = pd.DataFrame({'Player':pl,'team':team,'rating':rating})
df

In [5]:
#QUESTION 6 C
#c) Top 10 women’s ODI all-rounder along with the records of their team and rating.


!pip install bs4
!pip install requests

from bs4 import BeautifulSoup
import requests

page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
page

soup = BeautifulSoup(page.content)
soup

pl = []
for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    pl.append(i.text.replace('\n',''))
    
pl

team = []
for i in soup.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)
team

rating = []
for i in soup.find_all('td',class_="table-body__cell rating"):
    rating.append(i.text)
rating

print(len(team),len(rating),len(pl))

import pandas as pd
df = pd.DataFrame({'Player':pl,'team':team,'rating':rating})
df

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2021.10.8)
19 19 19

              Player team rating
0       Ellyse Perry  AUS    365
1     Marizanne Kapp   SA    355
2      Deepti Sharma  IND    299
3    Stafanie Taylor   WI    281
4    Hayley Matthews   WI    280
5   Ashleigh Gardner  AUS    275
6      Jess Jonassen  AUS    272
7    Katherine Brunt  ENG    272
8   Dane van Niekerk   SA    253
9     Jhulan Goswami  IND    251
10     Sophie Devine   NZ    248
11      Rumana Ahmed  BAN    195
12    Heather Knight  ENG    195
13       Amelia Kerr   NZ    193
14          Nida Dar  PAK    186
15     Shikha Pandey  IND    173
16         Sune Luus   SA    154
17        Kate Cross  ENG    141
18        Lea Tahuhu   NZ    140

In [6]:
#QUESTION 7
#Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content
#and the code for the video from the link for the youtube video from the post.

!pip install bs4
!pip install requests

from bs4 import BeautifulSoup
import requests

page = requests.get('https://coreyms.com/')
page

soup = BeautifulSoup(page.content)
soup

header = []
for i in soup.find_all('h2',class_="entry-title"):
    header.append(i.text)
    
header

date = []
for i in soup.find_all('time',class_="entry-time"):
    date.append(i.text)
date

con = []
for i in soup.find_all('div',class_="entry-content"):
    con.append(i.text.replace('\n',''))
con

print(len(header),len(date),len(con))
import pandas as pd
df = pd.DataFrame({'Heading':header,'date':date,'content':con})
df

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.2)
10 10 10

,Heading,date,content
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","In this video, we will be learning how to crea..."
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","In this Python Programming video, we will be l..."
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","In this Python Programming video, we will be l..."
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","In this Python Programming video, we will be l..."
4,Update (2019-09-03),"September 3, 2019",Hey everyone. I wanted to give you an update o...
5,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","In this Python Programming Tutorial, we will b..."
6,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","In this Python Programming Tutorial, we will b..."
7,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","In this Python Programming Tutorial, we will b..."
8,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","In this Python Programming Tutorial, we will b..."
9,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","In this Python Programming Tutorial, we will b..."

In [4]:
#QUESTION 8
#Write a python program to scrape house details from mentioned URL. It should include house title, location, area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, Rajaji Nagar.

!pip install bs4
!pip install requests

from bs4 import BeautifulSoup
import requests

page = requests.get('https://www.nobroker.in/property/rent/bangalore/multiple?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciJ9LHsibGF0IjoxMi45MzA3NzM1LCJsb24iOjc3LjU4MzgzMDIsInBsYWNlSWQiOiJDaElKMmRkbFo1Z1ZyanNSaDFCT0FhZi1vcnMiLCJwbGFjZU5hbWUiOiJKYXlhbmFnYXIifSx7ImxhdCI6MTIuOTk4MTczMiwibG9uIjo3Ny41NTMwNDQ1OTk5OTk5OSwicGxhY2VJZCI6IkNoSUp4Zlc0RFBNOXJqc1JLc05URy01cF9RUSIsInBsYWNlTmFtZSI6IlJhamFqaW5hZ2FyIn1d&radius=2.0&sharedAccomodation=0&city=bangalore&locality=Indiranagar,&locality=Jayanagar,&locality=Rajajinagar')
page

soup = BeautifulSoup(page.content)
soup

title = []
for i in soup.find_all('span',class_="overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full"):
    title.append(i.text)
    
title

loc = []
for i in soup.find_all('div',class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95"):
    loc.append(i.text)
    
loc

area = []
for i in soup.find_all('section',class_="flex items-center pt-0 px-1.5p pb-0.8p text-1.2p tp:block tp:overflow-y-hidden tp:p-0"):
    area.append(i.text)
    
area

pr = []
for i in soup.find_all('div',class_="flex flex-col w-33pe items-center bo tp:w-half po:w-full border-r-0"):
    pr.append(i.text.replace('MaintenanceRent (Negotiable)',''))
    
pr

import pandas as pd
df = pd.DataFrame({'house title':title,'price':pr,'location':loc,'area':area})
df

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2021.10.8)

,house title,price,location,area
0,2 BHK In Independent House For Rent In Jayan...,"₹ 17,000 +₹ 1,000","Independent House, Jayanagara 9th Block, near ...",Nearby: IBC Knowledge ParkKalyani Magnum Infot...
1,2 BHK Flat For Rent In Rajaji Nagar,"₹ 15,000No Extra","Independent House, New Varalakshmi Hospital, M...",Nearby: World Trade CenterPVRBig BazaarMETROMa...
2,1 BHK Flat For Rent In Jayanagar,"₹ 15,000No Extra","standalone building, Sai Sankalpa Apartment, 5...",Nearby: Vidyarthi BhavanMeghana FoodsCool Join...
3,2 BHK In Independent House For Rent In Jayan...,"₹ 29,000No Extra","Independent House, 6th cross, 8th main, 2 bloc...",Nearby: IBC Knowledge ParkVidyarthi BhavanUrva...
4,1 BHK In Independent House For Rent In Indir...,"₹ 12,000 +₹ 1,000","Independent House, kadarayanapalya",Nearby: Bagmane Tech ParkToit Micro Brewery1 M...
5,2 BHK Flat For Rent In Jayanagar,"₹ 30,000No Extra","Standalone building, 8th Block, Near More supe...",Nearby: Kalyani Magnum Infotech ParkMeghana Fo...
6,3 BHK Flat For Rent In M S Nivas In Rajajinagar,"₹ 40,000 +₹ 2,500","12th Main D Block,Near Kuvempu Road Metro Station",Nearby: World Trade CenterMantri Square MallPV...
7,2 BHK Flat For Rent In Standalone Building ...,"₹ 23,000 +₹ 500","1 st and 3 rd block east /22nd cross, jayana...",Nearby: IBC Knowledge ParkMeghana FoodsInox Th...
8,1 BHK Flat For Rent In Rajajinagar,"₹ 10,000 +₹ 300","standalone building, Rajajinagar RTO, 12th Mai...",Nearby: World Trade CenterMantri Square MallPV...
9,"2 BHK Flat For Rent In 678,12th Cross Road, ...","₹ 32,000 +₹ 3,500","standalone building, 12 th cross , 7 th block,...",Nearby: Meghana FoodsCool JointShivaji Militar...
10,1 BHK Flat For Rent In Indiranagar,"₹ 15,000No Extra MaintenanceRent (Non-Negotiable)","Standalone Building, Defence Colony, Near Chin...",Nearby: Bagmane Tech ParkRMZ InfinityToit Micr...
11,2 BHK In Independent House For Rent In Jaya ...,"₹ 15,000 +₹ 500MaintenanceRent (Non-Negotiable)","Independent House, Near Maiya Multi Speciality...",Nearby: IBC Knowledge ParkKalyani Magnum Infot...
12,3 BHK Apartment For Rent In Tirumala Grandev...,"₹ 55,000 +₹ 3,000",Tirumala Grandevel Mahalakshmi layout,Nearby: World Trade CenterPVRBig BazaarMETROMa...
13,3 BHK In Independent House For Rent In Indi...,"₹ 55,000No Extra","Independent House, Indira Nagar 1st Stage NEAR...",Nearby: Bagmane Tech ParkRMZ InfinityToit Micr...
14,2 BHK Apartment For Rent In Srinivasa Reside...,"₹ 24,000No Extra","Srinivasa Residency HAL 2nd Stage, Indiranaga...",Nearby: Sunriver EGLEmbassy Golf LinksToit Mic...
15,2 BHK Flat For Rent In Space Heights In Kodi...,"₹ 20,000No Extra","Space Heights,",Nearby: Embassy Golf LinksSunriver EGLToit Mic...
16,3 BHK In Independent House For Rent In Gayat...,"₹ 26,500No Extra","Independent House, Near Koundinya medicals, 1s...",Nearby: World Trade CenterMantri Square MallPV...
17,3 BHK In Independent House For Rent In Indir...,"₹ 31,000No Extra","Independent House, 100 Feet Rd, near Khivraj B...",Nearby: Sunriver EGLEmbassy Golf LinksToit Mic...
18,3 BHK Flat For Rent In Bhakatamara Apartment...,"₹ 46,000No Extra","7th cross 1st block, near Cafe toscano madhava...",Nearby: IBC Knowledge ParkVidyarthi BhavanMTRM...
19,2 BHK Flat For Rent In Basavanagudi,"₹ 16,000No Extra","standalone building, Near Tata Silk Farm, Basa...",Nearby: Vidyarthi BhavanMeghana FoodsCool Join...
20,2 BHK Flat For Rent In Standalaone Building ...,"₹ 28,000 +₹ 1,200","Indiranagar Club, Sangeetha Sabha, 4th Cross R...",Nearby: Bagmane Tech ParkEmbassy Golf LinksToi...
21,2 BHK Flat For Rent In Standalone Building ...,"₹ 18,000No Extra","SSB International School, HAL 2nd Stage, Stage...",Nearby: Bagmane Tech ParkSunriver EGLToit Micr...
22,2 BHK In Independent House For Rent In Banas...,"₹ 14,000 +₹ 500MaintenanceRent (Non-Negotiable)","Independent House, Near MM Industry , K.R.Road...",Nearby: Vidyarthi BhavanMeghana FoodsCool Join...
23,2 BHK In Independent House For Rent In Rajaj...,"₹ 18,500 +₹ 1,000","Independent House, Subramanya Nagar Police Sta...",Nearby: World Trade CenterPVRBig BazaarMETROMa...
24,2 BHK Flat For Rent In Rajaji Nagar,"₹ 27,000 +₹ 500","Standalone Building, 4th Block, Near Wellness...",Nearby: Mantri Square MallCinepolisDMartINOXMa...

In [3]:
#QUESTION 9
#Write a python program to scrape mentioned details from dineout.co.in
#(1)restaurant name (2)cuisine (3)location (4)ratings (5)image url
!pip install bs4
!pip install requests

from bs4 import BeautifulSoup
import requests

page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
page

soup = BeautifulSoup(page.content)
soup

Restaurant_name = []
for i in soup.find_all('div',class_="restnt-info cursor"):
    Restaurant_name.append(i.text)
    
Restaurant_name

location = []
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text)
location

rating = []
for i in soup.find_all('div',class_="restnt-rating rating-4"):
    rating.append(i.text)
rating

cuisine = []
for i in soup.find_all('div',class_="detail-info"):
    cuisine.append(i.text.split()[6])
cuisine

imageURL = []
for i in soup.find_all('img',class_="no-img"):
    imageURL.append(i['data-src'])
imageURL

print(len(Restaurant_name),len(cuisine),len(location),len(rating),len(imageURL))

import pandas as pd
df = pd.DataFrame({'Restaurant':Restaurant_name,'cuisine':cuisine,'location':location,'ratings':rating,'imageURL':imageURL})
df

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.7)
13 13 13 13 13

,Restaurant,cuisine,location,ratings,imageURL
0,"Castle BarbequeConnaught Place, Central Delhi",North,"Connaught Place, Central Delhi",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,"Jungle Jamboree3CS Mall,Lajpat Nagar - 3, Sout...","Barbecue,","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,"Castle BarbequePacific Mall,Tagore Garden, Wes...","Chinese,","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,"Cafe KnoshThe Leela Ambience Convention Hotel,...","Multi-Cuisine,","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,"The Barbeque CompanyGardens Galleria,Sector 38...",North,"Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,"India GrillHilton Garden Inn,Saket, South Delhi",North,"Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...","Barbecue,","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,North,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.9,https://im1.dineout.co.in/images/uploads/resta...
8,"World CafeVibe by The Lalit Traveller,Sector 3...",North,"Vibe by The Lalit Traveller,Sector 35, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
9,"Indian Grill RoomSuncity Business Tower,Golf C...",North,"Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,"Mad 4 Bar B QueSector 29, Faridabad",North,"Sector 29, Faridabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
11,"Barbeque 29NIT, Faridabad",North,"NIT, Faridabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
12,GlasshouseDoubleTree By Hilton Gurugram Baani ...,"European,","DoubleTree By Hilton Gurugram Baani Square,Sec...",4.1,https://im1.dineout.co.in/images/uploads/resta...

In [2]:
#question 10
#Write a python program to scrape first 10 product details which include product name , price , Image URL from https://www.bewakoof.com/women-tshirts?ga_q=tshirts .

!pip install bs4
!pip install requests

from bs4 import BeautifulSoup
import requests

page = requests.get('https://www.bewakoof.com/women-tshirts?ga_q=tshirts')
page

soup = BeautifulSoup(page.content)
soup

name = []
for i in soup.find_all('div',class_="productCardDetail"):
    name.append(i.text)
    
name

pr = []
for i in soup.find_all('div',class_="loyaltyPriceBox"):
    pr.append(i.text.replace('For TriBe Members',''))
pr

imgage= []
for i in soup.find_all('div',class_="productCardImg false"):
    imgage.append(i.text)
imgage

print(len(name),len(pr))

import pandas as pd
df = pd.DataFrame({'Product name':name,'Price':pr})
df

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
10 10

                                        Product name Price
0  Nenu Chepta Nuvvu Half Sleeve T-Shirt₹ 299599F...  ₹279
1  Shanti Minimal Half Sleeve T-Shirt₹ 299599FEW ...  ₹279
2  Color Half Sleeves T-Shirt₹ 299599FEW LEFT₹279...  ₹279
3  Frames Half Sleeves T-Shirt₹ 299599FEW LEFT₹27...  ₹279
4  Life Is Good Half Sleeve T-Shirt₹ 299699FEW LE...  ₹279
5  Radiate Positive Half Sleeve T-Shirt₹ 299699FE...  ₹279
6  Beach Blue Half Sleeve T-Shirt₹ 249699FEW LEFT...  ₹229
7  Feminine Energy Half Sleeve Printed T-Shirt₹ 2...  ₹279
8  Keep Your Distance Panda Half Sleeve Printed T...  ₹229
9  Busy Doing Nothing Half Sleeve T-shirt₹ 249799...  ₹229